.loading-animation {
	width: 100px;
    height: 100px;
    background: #4bf282;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
    position: relative;
    -webkit-animation-name: example; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 4s; /* Safari 4.0 - 8.0 */
    -webkit-animation-iteration-count: infinite; /* Safari 4.0 - 8.0 */
    animation-name: example;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes example {
    0%   {left:0px; top:0px; width:100px; height:100px;}
    25%  {left:100px; top:0px; width:30px; height:30px;}
    50%  {left:200px; top:0px; width:100px; height:100px;}
    75%  {left:300px; top:0px; width:30px; height:30px;}
    100% {left:0px; top:0px; width:100px; height:100px;}
}

/* Standard syntax */
@keyframes example {
    0%   {left:  0px; top:0px; width:100px;  height:100px;}
    25%  {left:  0px; top:0px; width:100px;   height:100px;}
    50%  {left:  0px; top:0px; width:100px;  height:100px;}
    75%  {left:  0px; top:0px; width:100px;   height:100px;}
    100% {left:  0px; top:0px; width:100px;  height:100px;}
}

