.win-animation {
	width: 100px;
    height: 100px;
    background: #c96265;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
    position: relative;
    -webkit-animation-name: winAnimation; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 4s; /* Safari 4.0 - 8.0 */
    -webkit-animation-iteration-count: infinite; /* Safari 4.0 - 8.0 */
    animation-name: winAnimation;
    animation-duration: 2s;
    animation-iteration-count: 1;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes winAnimation {
    0%   {left:0px; top:0px; width:100px; height:100px;   background:  #c96265;}
    25%  {left:100px; top:0px; width:200px; height:100px; background:  #4bf282; }
    50%  {left:100px; top:0px; width:200px; height:100px; background-image: url("win_plus_one.png"); }
    75%  {left:100px; top:0px; width:200px; height:100px; background-image: url("win_plus_one.png");  }
    100% {left:0px; top:0px; width:100px; height:100px;   background:  #c96265;}
}

/* Standard syntax */
@keyframes winAnimation {
    0%   {left:0px; top:0px; width:100px; height:100px;   background:  #c96265;}
    25%  {left:100px; top:0px; width:200px; height:100px; background:  #4bf282; }
	50%  {left:100px; top:0px; width:200px; height:100px; background-image: url("win_plus_one.png"); }
    75%  {left:100px; top:0px; width:200px; height:100px; background-image: url("win_plus_one.png");  }
    100% {left:0px; top:0px; width:100px; height:100px;   background:  #c96265;}
}
